<ng-container *ngIf="isLoggedIn(); else loggedOutUser">
    <header>
        <mat-toolbar class="header" color="secondary">
            <a
                mat-fab
                extended
                color="accent"
                class="login-button"
                routerLink="/"
            >
                <mat-icon>home</mat-icon>
                Hiring Agency Admin Panel
            </a>
            <nav class="menu">
                <a mat-button routerLink="/employers">Employers</a>
                <a mat-button routerLink="/applicants">Applicants</a>
                <a mat-button routerLink="/vacancies">Vacancies</a>
                <a mat-button routerLink="/agreements">Agreements</a>
            </nav>
            <button
                mat-fab
                extended
                color="primary"
                class="login-button"
                (click)="logout()"
            >
                <mat-icon>power_settings_new</mat-icon>
                Logout
            </button>
        </mat-toolbar>
    </header>

    <main>
        <article>
            <aside>
                <section>
                    <mat-button-toggle-group
                        name="professionalArea"
                        aria-label="Professional Areas"
                        (change)="onProfessionalAreaChange($event.value)"
                    >
                        <mat-button-toggle value="All"> All </mat-button-toggle>
                        <mat-button-toggle value="Information Technology">
                            IT
                        </mat-button-toggle>
                        <mat-button-toggle value="Engineering">
                            Engineering
                        </mat-button-toggle>
                        <mat-button-toggle value="Healthcare">
                            Healthcare
                        </mat-button-toggle>
                        <mat-button-toggle value="Finance">
                            Finance
                        </mat-button-toggle>
                        <mat-button-toggle value="Education">
                            Education</mat-button-toggle
                        >
                        <mat-button-toggle value="Marketing">
                            Marketing
                        </mat-button-toggle>
                        <mat-button-toggle value="Sales">
                            Sales
                        </mat-button-toggle>
                        <mat-button-toggle value="Human Resources">
                            HR
                        </mat-button-toggle>
                        <mat-button-toggle value="Hospitality">
                            Hospitality
                        </mat-button-toggle>
                        <mat-button-toggle value="Construction">
                            Construction
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </section>
            </aside>
            <router-outlet></router-outlet>
        </article>
    </main>

    <!-- <footer class="footer">
        <p>
            &copy; 2024 Hiring Agency | TechMagic homework made by Yaroslav
            Pidhornyi
        </p>
    </footer> -->
</ng-container>
<ng-template #loggedOutUser>
    <router-outlet></router-outlet>
</ng-template>
