.employer-container {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

mat-card {
    margin-bottom: 20px;
}

mat-card-title {
    font-size: 1.5em;
    font-weight: bold;
}

mat-tab-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 550px;
    justify-content: center;
    align-items: center;
}

.list-item {
    width: 100%;
    a {
        text-decoration: none;
    }
    display: flex;
    column-gap: 50px;
    justify-content: space-between;
}
