<div class="employer-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ employer?.companyName }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p><strong>Area:</strong> {{ employer?.professionalArea }}</p>
            <p><strong>Address:</strong> {{ employer?.address }}</p>
            <p><strong>Phone:</strong> {{ employer?.phone }}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-fab extended color="accent" (click)="openEditDialog()">
                <mat-icon>edit</mat-icon>
                Edit employer
            </button>
            <button
                mat-fab
                extended
                color="accent"
                (click)="openCreateVacancyDialog()"
            >
                <mat-icon>add</mat-icon>
                Create vacancy
            </button>
        </mat-card-actions>
    </mat-card>

    <mat-tab-group>
        <mat-tab label="Opened Vacancies">
            <mat-list>
                <mat-card *ngFor="let vacancy of openedVacancies">
                    <mat-card-subtitle>
                        <a [routerLink]="['/vacancies', vacancy._id]">
                            {{ vacancy.jobPosition }}
                        </a>
                    </mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>Salary: {{ vacancy.salary | currency }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-list>
        </mat-tab>
        <mat-tab label="Closed Vacancies">
            <mat-list>
                <mat-card *ngFor="let vacancy of closedVacancies">
                    <mat-card-subtitle>
                        <a [routerLink]="['/vacancies', vacancy._id]">
                            {{ vacancy.jobPosition }}
                        </a>
                    </mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>Salary: {{ vacancy.salary | currency }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-list>
        </mat-tab>
        <mat-tab label="Agreements">
            <mat-list>
                <mat-card *ngFor="let agreement of agreements">
                    <mat-card-subtitle>
                        <p>{{ agreement.jobPosition }}</p>
                    </mat-card-subtitle>
                    <mat-divider></mat-divider>
                    <mat-card-content>
                        <p>Fees: {{ agreement.fees | currency }}</p>
                    </mat-card-content>
                </mat-card>
            </mat-list>
        </mat-tab>
    </mat-tab-group>
</div>
